/**
 * ------------------------------------------------------------------------------------------------- 
 * Masthead
 * -------------------------------------------------------------------------------------------------
 */

.php #masthead h1 { 
		
	display: inline-block;
	color: $col-orangedark; /* keynote orange */
}

@media screen and ( min-width: 600px ) { .php h1 { font-size: 23px; font-size: 2.3rem;  } }

@media screen and ( min-width: 700px ) {

	.php #masthead {
		position: fixed;
		height: 4em;
		background: $col-page;
	}
}


/**
 * ------------------------------------------------------------------------------------------------- 
 * The plant nav
 * -------------------------------------------------------------------------------------------------
 */

#search_letters {
	
	ul {
		margin: 0;
		float: left;
		display: block;
		width: 80%;
	}
	
	li {		
		ul {
			height: 0;
			overflow: hidden;
		}
		
		a {
			padding: 0.2em 1em;
		
			&:hover {
				font-weight: 600;
				color: $col-orangedark;
			}
			
			&:target {
				font-weight: 600;
				color: $col-orangedark;
				color: blue !important;
			}
	
			&:target + ul {
				width: 99%;
				height: auto;
				margin: 0 0 1em 0;
				padding: 1em;
			}
		}		
	}
}

@media screen and ( min-width: 700px ) {

	#search_letters {
		position: fixed;
		top:  5em;
      height: 100%;
      width: 17em;
      /*
      It needs to have an overflow in the y scrolling so that it can become scrollable on 
      short viewports. And it also needs the oversized bottom padding, because without it 
      you can't quite get to the bottom of it.
      */
      overflow-y: scroll;
      padding-bottom: 15em;
	}
}

/**
 * ------------------------------------------------------------------------------------------------- 
 * The main plants section
 * -------------------------------------------------------------------------------------------------
 */

.plant {
	float: left;
	width: 100%;
	margin:0 2% 2% 0; 
	padding: 1em;

	ul { 	
		width: 45%;
		margin-right: 5%;
		float: left;
		padding-right: 1em; 	
	}
	
	&:target { 
		background: $col-orangedark;
		color: $col-page;
	}
}

@media screen and ( min-width: 700px ) {

	.php #main {
		width: 58%;
		float: right;
		position: relative;
		margin-top: 5em;
	}
}

@media screen and ( min-width: 800px ) { .php #main { width: 60%; } }

@media screen and ( min-width: 900px ) and ( max-width: 1199px)  {

	.plant { 
		width: 49%; 
		.row &:nth-of-type(even) { margin-right: 0; }
	}
	
	.php #main { width: 70%; }
}

@media screen and ( min-width: 1200px ) and ( max-width: 1699px ) {

	.plant { width:  32%; }
	.plant:nth-of-type(3n) { margin-right: 0; }
	.plant:nth-of-type(3n+4) { clear: left; }

	.php #main { width: 75%; }
}

@media screen and ( min-width: 1700px ) and ( max-width: 1999px )  {

	.plant { width:  23.5%; }
	.plant:nth-of-type(4n) { margin-right: 0; }
	.plant:nth-of-type(4n+5) { clear: left; }

	.php #main { width: 80%; }
}

@media screen and ( min-width: 2000px )  {

	.plant { width:  18.4%; }
	.plant:nth-of-type(5n) { margin-right: 0; }
	.plant:nth-of-type(5n+6) { clear: left; }
	
	.php #main { width: 85%; }
}
