/*
Project: Companion Plants
Project URI: https://jokedewinter.github.io/companionplants
Author: Joke De Winter Ltd
Author URI: https://www.jokedewinter.co.uk
Description: A little website to help you with keeping your plants happy
Version: 2.0
*/

@import "_init/_mixins";
@import "_init/_reset";
@import "_init/_fonts";
@import "_init/_root";

@import "_base/_site";
@import "_base/_typography";
@import "_base/_links";

@import "_layout/_home";
@import "_layout/_nav";
@import "_layout/_sections";