/**
 * ------------------------------------------------------------------------------------------------- 
 * Sass colour variables
 * -------------------------------------------------------------------------------------------------
 */

$col-text: #555; 
$col-page: #fff;

$col-border: #ccc;
$col-reverse-btn: #555;

$col-light: #f8f7f0;
$col-dark: #333;

$col-required: #c7254e; // red  
$col-optional: #17be7c; // green
  
/* Brand colours */
$col-brand-primary: peru;
$col-brand-secondary: tomato;
$col-brand-accent: lime;


/* Section colours */
$col-section: #eae8dc; /* grey cream *//* #f1f0e7; /* light grey cream */
$col-method: #57669d; /* dribbble blue */



$col-list: #c74c15; /* keynote orange */
$col-letter: #e3b837; /* monsters yellow */
$col-name: #b81d20; /* youtube red */

$col-orangedark: #c74c15; /* keynote orange */
$col-yellow: #e3b837; /* monsters yellow */
$col-greendark: #68993f; /* mount green */
$col-green: #6dba65;/* found green */
$col-red: #b81d20; /* youtube red */
$col-blue: #57669d; /* dribbble blue */
$col-orange: #c23126; /* dick bruna orange */