/**
 * -------------------------------------------------------- 
 * Custom properties
 * -------------------------------------------------------- */

:root {
	--font-title: 'Six Caps', sans-serif;
	--font-body: 'Mukta', sans-serif;
    
    --col-text: #2b2b2b;
	--col-text-light: #91918d;
	--col-text-reverse: #f8f7f0;
    
	--col-page-light: #f8f7f0;
	--col-page-dark: #2b2b2b;
    --col-border: #61635d;

    --col-theme: #98c268; // green
    --col-theme-hover: #7ea057; // darker green
}