/**
 * ------------------------------------------------------------- 
 * Desktop layout
 * Only hides the menu button.
 * The rest is displayed in columns
 * ------------------------------------------------------------- */

@media screen and ( min-width: 48em ) {
    
    #show-menu { display: none; }
    nav a { height: 48px; }
    
    body:not(.home) {
        display: grid;
        grid-template-columns: 25vw 25vw 50vw;
    }
    
    body:not(.home) > * { align-self: flex-start; }
    
	#menu { grid-column: 1 / 2; }
    #list { grid-column: 2 / 3; }
    #letters { grid-column: 2 / 3; }
    #result { grid-column: 3 / 4; }
    
    #list { grid-row: 1 / span 1; }
    footer { grid-row: 3; }

    #list, 
    #letters,
    #list > article { padding-top: 48px; }
    
    #result { padding-top: 70px; }
    
   	.scrollbar { grid-template-columns: repeat(2, 1fr); }
	.scrollbar article { column-width: 100px; }
}