/**
 * ------------------------------------------------------------- 
 * Nav
 * ------------------------------------------------------------- */

nav {
    display: grid;
    grid-auto-rows: minmax(48px, auto);
}

nav a { height: 90px; }

@media screen and ( max-width: 47.99em ) {

    #show-menu:not(.hide) {
        display: block;
        height: 3em;
    }
}