/**
 * ------------------------------------------------------------------------------------------------- 
 * Links
 * -------------------------------------------------------------------------------------------------
 */

a, a:visited  { 
	//font-weight: 600;
	color: $col-text; 
	text-decoration: none; 
	outline: 0; 
	cursor: pointer;
}

